
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="shop-properties">
  <div class="shopProperties Container">
      <div class="shopProperties__Wrapper">
          <div class="shopProperty">
            <i class="fa-solid fa-truck-fast fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-1 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-arrow-rotate-left fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-2 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-regular fa-circle-check fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-3 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-thumbs-up fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-4 }}</h4>
            </span>
          </div>
        </div>
      </div>
  </div>
</section>


<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  }



  .shopProperty > i {
  margin-right:10px;
}

  .shopProperty h4 {
    color: {{ section.settings.text_color }};
  }
  .shopProperty svg {
    fill: {{ section.settings.badge_color }};
    height: 48px;
    width: 48px;
    margin-right: 32px;
    display: block;
  }
  .shopProperties__Wrapper {
    max-width: 1364px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media screen and (min-width: 1041px) {
    .shopProperties__Wrapper {
      height: 90px;
    }
  }
  
  .shopProperties__Wrapper--product {
    flex-wrap: wrap;
  }
  
  .shopProperty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0;
    width: 50%;
    height: 48px;
  }
  
  .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:nth-of-type(3),
  .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:last-of-type {
    display: none;
  }
  
  @media screen and (min-width: 641px) {
    .shopProperty:nth-of-type(3),
    .shopProperty:last-of-type {
      display: flex;
    }
  }
  
  .shopProperty svg,
  .shopProperty img {
    margin-right: 14px !important;
    display: block;
    height: 40px;
    width: 40px;
    max-width: 20px;
  }
  
  .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:nth-of-type(odd) {
    margin-right: 20px;
  }
  
  .shopProperty span {
    max-width: 220px;
  }
  
  .shopProperty p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 28px;
    text-align: left;
    margin: 0;
  }
  
  .shopProperties__Wrapper .shopProperty h4.Headline {
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
  }
  
  @media screen and (min-width: 420px) {
    .shopProperty svg {
      max-width: 32px;
    }
  }
  @media screen and (max-width: 420px) {
    .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:nth-of-type(odd) {
        margin-left: 20px;
   }
  }
  @media screen and (max-width: 420px) {
    .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
    .shopProperty:nth-of-type(even) > span > h4 {
        margin-left: 20px;
   }
  }
  
  @media screen and (min-width: 1041px) {
    .shopProperties__Wrapper .shopProperty h4.Headline {
      font-size: 14px;
      letter-spacing: 2.4px;
      line-height: 26px;
    }
  
    .shopProperties__Wrapper {
      flex-wrap: nowrap;
    }
  
    .shopProperties__Wrapper svg {
      margin-right: 32px;
      max-width: 100%;
    }
  
    .shopProperty {
      margin: 0 20px;
      width: auto;
    }
  
    .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
      .shopProperty:nth-of-type(3),
    .shopProperties__Wrapper:not(.shopProperties__Wrapper--product)
      .shopProperty:last-of-type {
      display: flex;
    }
  
    .shopProperty:first-of-type {
      margin-left: 0;
    }
  
    .shopProperty:last-of-type {
      margin-right: 0;
    }
  }
  
</style>

{% schema %}
{
  "name": "custom_ShopProperties",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Hintergrund-Farbe",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text-Farbe",
      "default": "#ffffff"
    },
    {
    "type": "color",
    "id": "badge_color",
    "label": "TrustBadge-Farbe",
    "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "headline-1",
      "label": "Überschrift #1",
      "default": "Überschriftt #1"
    },
    {
      "type": "text",
      "id": "headline-2",
      "label": "Überschrift #2",
      "default": "Überschriftt #2"
    },
    {
      "type": "text",
      "id": "headline-3",
      "label": "Überschrift #3",
      "default": "Überschriftt #3"
    },
    {
      "type": "text",
      "id": "headline-4",
      "label": "Überschrift #4",
      "default": "Überschriftt #4"
    }
  ],
  "presets": [{
    "name": "custom_ShopProperties",
    "category": "Custom"
  }]
}
{% endschema %}