
<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="shop-properties">
  <div class="shopProperties Container">
      <div class="shopProperties__Wrapper">
          <div class="shopProperty">
            <i class="fa-solid fa-truck-fast fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-1 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-arrow-rotate-left fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-2 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-regular fa-circle-check fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-3 }}</h4>
            </span>
          </div>
          <div class="shopProperty">
            <i class="fa-solid fa-thumbs-up fa-2xl"></i>
            <span>
              <h4 class="Headline">{{ section.settings.headline-4 }}</h4>
            </span>
          </div>
        </div>
      </div>
  </div>
</section>


<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  }

  .SK_ProductForm__ShopProperties {
    display: flex;
    flex-wrap: wrap;
    margin: 4px -4px;
  }
  .SK_ProductForm__ShopProperty_Container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f5;
    border-radius: 4px;
    padding: 8px 4px;
  }
  .SK_ProductForm__ShopProperty {
    width: 50%;
    padding: 4px;
  }
  .SK_ProductForm__ShopProperty_Image {
    margin-right: 10px;
  }
  
  .SK_ProductForm__ShopProperty_Text {
    color: #000;
    font-size: 8px;
  }

  .shopProperty > i {
  margin-right:10px;
}

  .shopProperty h4 {
    color: {{ section.settings.text_color }};
  }
  .shopProperty svg {
    fill: {{ section.settings.badge_color }};
    height: 48px;
    width: 48px;
    margin-right: 32px;
    display: block;
  }
</style>

{% schema %}
{
  "name": "SK - ShopProperties",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
    "type": "color",
    "id": "badge_color",
    "label": "Badge Icon Color",
    "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "headline-1",
      "label": "Headline #1",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "headline-2",
      "label": "Headline #2",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "headline-3",
      "label": "Subheader #3",
      "default": "Headline"
    },
    {
      "type": "text",
      "id": "headline-4",
      "label": "Headline #4",
      "default": "Headline"
    }
  ],
  "presets": [{
    "name": "SK - ShopProperties",
    "category": "Custom"
  }]
}
{% endschema %}